= @group.name
Members

= link_to "Add Member", new_group_member_path(group: @group)

- @group.members.each do |member|
  = member.first_name
  = member.last_name
  = member.phone_number
  = link_to "Edit", edit_group_member_path(@group, member)
  = link_to "Delete", [@group, member], method: :delete, :data => { :confirm => 'Are you sure?' }
